.bg-light {
    background-color: black !important;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .3);
}
/* changement de couleur de la barre de menu*/
/*ombre*/

.navbar-light .navbar-nav .nav-link {
    color: #ecf0f1;
}
/*Chnagement de couleur de la police des rubriques*/

.navbar-light .navbar-nav .nav-link:hover, .nav-link:focus {
    color: #ecf0f1;
    border-bottom: 2px solid white;
    padding-bottom: 1px
}
/* Pour éviter beug de couleur quand on selectionne une rubrique*/
/*bordure*/
body
{
background-image: url("https://cdn.discordapp.com/attachments/759714749742579732/814205185626341416/final.jpg");
/* Background image is centered vertically and horizontally at all times */
background-position: center center;

/* Background image doesn’t tile */
background-repeat: no-repeat;

/* Background image is fixed in the viewport so that it doesn’t move when
the content’s height is greater than the image’s height */
background-attachment: fixed;

/* This is what makes the background image rescale based
on the container’s size */
background-size: cover;

/* Set a background color that will be displayed
while the background image is loading */
background-color: #030418;
}
/*fond*/


@font-face {
    font-family: "Pixel Powerline";
    src: url("/Font/Pixel Powerline") format("truetype"),
   }

p{
    font-size: 20px;
    font-family: "Pixel Powerline";
}


