.bg-light {
    background-color: black !important;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .3);
}


.navbar-light .navbar-nav .nav-link {
    color: #ecf0f1;
}
/*Chnagement de couleur de la police des rubriques*/

body
{
background-image: url("https://cdn.discordapp.com/attachments/732762091596939264/814449772110151720/Fong_gris.png");
}
/*fond*/

.navbar-light .navbar-nav .nav-link:hover, .nav-link:focus {
    color: #ecf0f1;
    border-bottom: 2px solid white;
    padding-bottom: 1px
}

@font-face {
    font-family: "Pixel Powerline";
    src: url("/Font/Pixel Powerline") format("truetype"),
   }

p{
    font-size: 20px;
    font-family: "Pixel Powerline";
}
